@bg-color-admin-tool: #2f77eb;
@bg-color-admin-tool-darker: #246ce0;
@color-admin-tool: white;

.admin-tool {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.1em;
	letter-spacing: 0.1em;
	html.mobile & {
		display: none!important;
	}
}

.admin-tool-menu {
	top:8px; left:8px;

	.menu-title {
		padding: 10px;
	}

	.menu-title,
	.menu-item {
		background-color: @bg-color-admin-tool;
		color: @color-admin-tool;
	}

	.menu-items-wrapper {
		transition: 120ms ease-out;
		transition-property: transform, opacity;
		opacity: 0;
		transform: translateY(-100%);
	}

	.menu-item > span {
		display: block;
		padding: 10px;
	}
	// ~> HOVER
	.menu-ctn:hover,
	.menu-ctn:focus {

		.menu-items-wrapper {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.menu-item:hover {
		background-color: @bg-color-admin-tool-darker;
	}
}