#menu-admin {
	position: fixed;
	z-index: 50000;
	#fill(0px, auto, auto, 0px);
	padding: 4px;
	background-color: fade(@true-white, 30%);
	
	span, a {
		margin: 0 0.5rem;
		color: @true-black;
		
		font-size: 1.4rem;
		line-height: 1.4rem;
		text-decoration: none;
		
		&:last-child {
			margin-right: 0;
		}
		
		&.cache {
			margin-left: 2rem;
		}
	}
}