#menu-admin {
	#fixed(800);
	//#fill(0, @site-horizontal-padding, auto, auto);
	
	padding-top: 1rem;
			
	span, a {
		margin: 0 0.5rem;
		color: @black;
		
		//font-family: @font-lato;
		font-size: 1.4rem;
		line-height: 1.4rem;
		text-decoration: none;
		
		&:last-child {
			margin-right: 0;
		}
		
		&.cache {
			margin-left: 2rem;
		}
	}
}