#load-progress {
	height: 3px;
	background-color: @page-load-bg-color;
	opacity: 0;
	
	@load-duration: 1200ms;
	@load-duration-fast: 600ms;
	@transition: ~'width @{ease-standard} @{load-duration}, opacity @{ease-standard} @{load-duration}';
	
	#transition(none);
	
	&.start {
		#transition(~'@{transition}');
	}
	
	&.show {
		#transition(~'@{transition}');
		opacity: 1;
	}
	
	&.end {
		#transition-duration(@load-duration-fast);
	}
}