/*******************************
 * @author DeuxHuitHuit
 *****************************/
body {
	font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: @gutter-width 0;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

p, .p {
	padding: 0;
	margin: @gutter-width 0;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	#marpad;
	border-bottom: 1px solid @link-color;
	#transition(~'border-bottom-color @{duration-short} @{ease}, color @{duration-short} @{ease}');
	text-decoration: none;
	
	#hover({
		color: @link-color-hover;
		border-bottom-color: @link-color-hover;
	});
}

em {
	
}

strong {
	
}

em strong, strong em {
	
}

ul, ol {
	
	
	li {
		
	}
}

time {
	
}

blockquote {
	
}

table {
	tr {
		
		th, td {
			
		}
		
		th {
			
		}
	}
}
