/* USER-SELECT */
#user-select (@select: none) {
	-webkit-touch-callout: @select;
	-webkit-user-select: @select;
	 -khtml-user-select: @select;
	   -moz-user-select: @select;
		-ms-user-select: @select;
			user-select: @select;
}
/* TOUCH-ACTION */
#touch-action (@action: auto) {
	-webkit-touch-action: @action;
		-ms-touch-action: @action;
			touch-action: @action;
}
