
//=========================
// = MISC FUNCTIONS
//=========================

#text-wrap (@val: break-word) {
	overflow-wrap: @val;
	word-wrap: @val;
}

#ellipsis (@mw: 100%) {
	max-width: @mw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
