
//=========================
// = ANIMATION FUNCTIONS
//=========================

#animation (...) {
	-webkit-animation: @arguments;
	   -moz-animation: @arguments;
	    -ms-animation: @arguments;
		 -o-animation: @arguments;
			animation: @arguments;
}

#animation-key (@name, @rules) {
	@-webkit-keyframes @name {
		@rules();
	}
	
	@-moz-keyframes @name {
		@rules();
	}
	
	@-ms-keyframes @name {
		@rules();
	}
	
	@-o-keyframes @name {
		@rules();
	}

	//Standard syntax
	@keyframes @name {
		@rules();
	}
}