
//=========================
// = ADD/REMOVE GRAYSCALE FILTER FUNCTIONS
//=========================

#add-grayscale (){
	//Firefox 4+
	filter: url(~"@{svg-path}grayscale.svg#grayscale");
	//IE 6-9
	filter: gray; 
	
	-webkit-filter: grayscale(100%);
}

#remove-grayscale (){
	-webkit-filter: grayscale(0%);

	//Firefox 4+
	//IE 6-9
	filter: none;
}