// BOX-SIZING FUNCTIONS
#box-sizing (@box-sizing: border-box) {
	-webkit-box-sizing: @box-sizing;
	   -moz-box-sizing: @box-sizing;
		-ms-box-sizing: @box-sizing;
		 -o-box-sizing: @box-sizing;
			box-sizing: @box-sizing;
}