// DEV FUNCTIONS
.DEPRECATED(@name: ~'') {
	outline: rgba(255,0,0,36%) 5px solid;
	outline-offset: 8px;
	position: relative;
	
	&:before {
		content: 'DEPRECATED @{name}';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255,0,0,40%);
		font-size: 14px;
	}
}

.WATCHDOG(@name: ~'') {
	outline: rgba(50,20,10,50%) 5px solid;
	outline-offset: 8px;
	position: relative;
	display: block !important; // insure visibility
	overflow: visible !important;
	
	&:before {
		content: '@{name}';
		position: absolute;
		outline: rgba(50,20,10,50%) 5px solid;
		outline-offset: 8px;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		background-color: rgba(30,15,5,80%);
		font-size: 12px;
		font-weight: bold;
		padding: 1.5rem;
		color: white;
		overflow: hidden;
		text-overflow: ellipsis;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		#translate(-50%, -50%);
	}

	&:after {
		content: attr(dev-component) attr(dev-element);
		white-space: nowrap;
		padding: .5rem;
		background-color: red;
		color: white;
		line-height: 1em;
		font-size: 10px;
		font-weight: 600;
		display: block;
		position: absolute;
		left: 50%;
		top: 100%;
		margin-top: 2rem;
		text-transform: uppercase;
		letter-spacing: .025em;
		z-index: 1;
		#translate(-50%, 0);
	}
}