
//=========================
// = ADD/REMOVE GRAYSCALE FILTER FUNCTIONS
//=========================

#add-grayscale (){
	/* Firefox 4+ */
	filter: url(~"@{svg-path}grayscale.svg#grayscale");
	filter: gray; /* IE 6-9 */
	-webkit-filter: grayscale(100%);
}

#remove-grayscale (){
	-webkit-filter: grayscale(0%);

	/* Firefox 4+ */
	filter: none; /* IE 6-9 */
}