
//=========================
// = BACKFACE-VISIBILITY FUNCTIONS
//=========================

#backface (@visibility: hidden) {
	-webkit-backface-visibility: @visibility;
	   -moz-backface-visibility: @visibility;
	    -ms-backface-visibility: @visibility;
		 -o-backface-visibility: @visibility;
			backface-visibility: @visibility;
}