
//=========================
// = PERSPECTIVE FUNCTIONS
//=========================

/* PERSPECTIVE */
#perspective (@perspective) {
	-webkit-perspective: @perspective;
	   -moz-perspective: @perspective;
		-ms-perspective: @perspective;
		 -o-perspective: @perspective;
			perspective: @perspective;
}

#perspective-origin (@origin) {
	-webkit-perspective-origin: @origin;
	   -moz-perspective-origin: @origin;
		-ms-perspective-origin: @origin;
		 -o-perspective-origin: @origin;
			perspective-origin: @origin;
}