
//=========================
// = BACKGROUND-SIZE FUNCTIONS
//=========================

#background-size (@bs: cover) {
	-webkit-background-size: @bs;
	   -moz-background-size: @bs;
		-ms-background-size: @bs;
		 -o-background-size: @bs;
			background-size: @bs;
}