
//=========================
// = FILTER FUNCTION
//=========================

/* FILTER */
#filter (@filter) {
	-webkit-filter: @filter;
	   -moz-filter: @filter;
		-ms-filter: @filter;
		 -o-filter: @filter;
			filter: @filter;
}