
//=========================
// = HOVER FUNCTIONS
//=========================

#hover (@rules) {
	html:not(.mobile) &:hover, &:focus, &:active {
		@rules();
	}
}

#hover (@selected, @rules) {
	html:not(.mobile) &:hover, &:focus, &:active, &@{selected} {
		@rules();
	}
}

#hover-no-focus (@rules) {
	html:not(.mobile) &:hover, &:active {
		@rules();
	}
}

#hover-no-focus (@selected, @rules) {
	html:not(.mobile) &:hover, &:active, &@{selected} {
		@rules();
	}
}

#hover-only (@rules) {
	html:not(.mobile) &:hover {
		@rules();
	}
}

#hover-only (@selected, @rules) {
	html:not(.mobile) &:hover, &@{selected} {
		@rules();
	}
}
