/*
 * HTML
 */
html {
	font-size: 62.5%;
	line-height: normal;
	font-family: serif;
}

html, body {
	width: 100%;
	#marpad;
}

*:focus {
	#no-outline;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 1rem 0;
	text-rendering: optimizeLegibility;
}

a {
	img {
		border: none;
		display: block;
	}
}


/*
 * HTML5
 */
section, nav, article, footer, header, menu, aside, figure, figcaption {
	display: block;
	#marpad;
	position: static;
}

/*
 * FORMS
 */

input, textarea, keygen, select, button {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: inherit;
	line-height: normal;
	border: none;
	background-color: transparent;
}

/* 
 * CSS 3
 */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

/*
 * SVG
 */
svg {
	text, textpath {
		alignment-baseline: central;
		text-rendering: geometricPrecision;
	}
	* {
		color: inherit;
		fill: currentColor;
		stroke: currentColor;
	}
}

/*
 * FIGURE
 */
figure {
	margin: 0;
}

/*
 * ADDRESS
 */
address {
	font-style: normal;
}

/*
 * CITE
 */
cite {
	font-style: normal;
}
