//=========================
// = VARIABLES GLOBALES
//=========================

@golden-ratio: 1.61803398875;


//====== PATH ==================
@css-path: '/workspace/assets/css/';
@font-path: '/workspace/assets/fonts/';
@img-path: '/workspace/assets/img/';
@cur-path: '/workspace/assets/cur/';
@svg-path: '@{css-path}svg/';


//====== Animation ============
@duration-shortest: 150ms;
@duration-shorter: 200ms;
@duration-short: 300ms;
@duration: 500ms;
@duration-long: 750ms;
@duration-longer: 1000ms;
@duration-longest: 1500ms;

@visanim: visibility 0ms linear;

@ease: ease-in-out;
@ease-in: ease-in;
@ease-out: ease-out;

//====== SITE WIDTH ============
@col: 10px;

@site-xxlarge-width: 		1920px;
@site-xlarge-width: 		1600px;
@site-large-width: 			1440px;
@site-medium-width: 		1280px;
@site-small-medium-width: 	1140px;
@site-small-width: 			1024px;
@site-xsmall-width: 		800px;
@site-mobile-width: 		640px;


//====== Medias Queries ============
@media-xxlarge: 	~'max-width: @{site-xxlarge-width}';
@media-xlarge: 		~'max-width: @{site-xlarge-width}';
@media-large: 		~'max-width: @{site-large-width}';
@media-medium: 		~'max-width: @{site-medium-width}';
@media-medium-min: 		~'min-width: @{site-medium-width}';
@media-small-medium: ~'max-width: @{site-small-medium-width}';
@media-small: 		~'max-width: @{site-small-width}';
@media-xsmall: 		~'max-width: @{site-xsmall-width}';
@media-mobile: 		~'max-width: @{site-mobile-width}';

@media-portrait: 	~'orientation: portrait';
@media-landscape:	~'orientation: landscape';

@retinaRatioQuery: ~'-webkit-device-pixel-ratio: 2.0';



#media-small-medium-width-and-less (@rules) {
	@media screen and (@media-small-medium) {
		@rules();
	}
}

#media-small-width-and-less (@rules) {
	@media screen and (@media-small) {
		@rules();
	}
}

#media-medium-to-large-width (@rules) {
	@media screen and (@media-medium-min) and (@media-large) {
		@rules();
	}
}

//#### Pour LowDpi #####
#media-default-dpi (@rules) {
	@media screen and (~'max-resolution: 96dpi') {
		html:not(.mobile) & {
			@rules();
		}
	}
}

#media-xsmall(@xsmall) {
	@media screen and (@media-xsmall) {
		@rules();
	}
}

#media-mobile(@rules) {
	html.mobile &, &.mobile{
		@media screen and (@media-small) {
			@rules();
		}
	}
}

#media-not-mobile(@rules) {
	html:not(.mobile) & {
		@rules();
	}
}

//##### Pour Phone #####
#media-phone(@rules) {
	
	@media screen and (@media-mobile) {
		html.mobile.phone &, &.mobile.phone {
			@rules();
		}
	}
	
}

#media-not-phone(@rules) {
		html:not(.phone) & {
			@rules();
		}
}

//##### Pour Iphone Retina #####
#media-phone-retina (@rules) {
	@media screen and (@retinaRatioQuery)
	and (@media-mobile) {
		@rules();
	}
}

