
//=========================
// = VARIABLES PATH
//=========================

@css-path: '/workspace/assets/css/';
@font-path: '/workspace/assets/fonts/';
@img-path: '/workspace/assets/img/';
@cur-path: '/workspace/assets/cur/';
@svg-path: '@{css-path}svg/';