//=========================
// = VARIABLES GLOBALES
//=========================

@golden-ratio: 1.61803398875;
@debug: false;

//====== PATH ==================
@css-path: '/workspace/assets/css/';
@font-path: '/workspace/assets/fonts/';
@img-path: '/workspace/assets/img/';
@cur-path: '/workspace/assets/cur/';
@svg-path: '@{css-path}svg/';

