// SPACING
@spacing-atto:        1px;
@spacing-femto:       0.2rem;
@spacing-pico:        0.4rem;
@spacing-nano:        0.5rem;
@spacing-micro:       0.7rem;
@spacing-thinnest:    1rem;
@spacing-thinner:     2rem;
@spacing-thin:        3rem;
@spacing-broad:       4rem;
@spacing-broader:     7rem;
@spacing-broadest:   10rem;
@spacing-large:      16rem;
@spacing-larger:     20rem;
@spacing-largest:    26rem;
@spacing-mega:       38rem;
@spacing-giga:       54rem;
@spacing-tera:       78rem;
@spacing-peta:       80rem;
@spacing-zetta:     100rem;
@spacing-yotta:     120rem;