// FONTS FACE
@font-base:    'sans-serif';
@font-alt:     'serif';
@font-alt2:    'serif';
@font-accent:  'serif';
@font-accent2: 'serif';
// FONTS SIZE
@font-miniature:  7px;
@font-shortest:   10px;
@font-shorter:    13px;
@font-short:      14px;
@font-current:    16px;
@font-tall:       20px;
@font-taller:     28px;
@font-tallest:    36px;
@font-huge:       54px;
@font-huger:      80px;
@font-hugest:     120px;
@font-giant:      180px;
// LINE-HEIGHT
@line-height-compressed:  .8em;
@line-height-tightest:    1.12625em;
@line-height-tighter:     1.25em;
@line-height-tight:       1.4em;
@line-height-normal:      1.6em;
@line-height-loose:       1.75em;
@line-height-looser:      1.9125em;
@line-height-loosest:     2.125em;
// LETTER-SPACING
@letter-spacing-narrowest:  -.08em;
@letter-spacing-narrower:   -.05em;
@letter-spacing-narrow:     -.025em;
@letter-spacing-wide:       .025em;
@letter-spacing-wider:      .05em;
@letter-spacing-widest:     .1em;