//=========================
// = VARIABLES FOR GRAPHICS
//=========================


@border-base: @border-width-mid solid;
@border-alt: @border-width-large solid;
@border-accent: @border-width-large dashed;