//=========================
// = VARIABLES FOR BORDER-WIDTH
//=========================

@border-slimest: 	 1px;
@border-slimer: 	 2px;
@border-slim: 		 3px;
@border-average: 	 5px;
@border-thick: 		 8px;
@border-thicker: 	10px;
@border-thickest: 	20px;

//=========================
// = VARIABLES FOR BORDER-RADIUS
//=========================
@border-radius-smallest: 	 2px;
@border-radius-smaller: 	 3px;
@border-radius-small: 		 4px;
@border-radius-mid: 		10px;
@border-radius-large: 		 4rem;
@border-radius-larger: 		 5rem;
@border-radius-largest: 	10rem;