//====== FONTS ==== 

/* Text */
@text-font-size: 1.4rem;
@text-font: 'sans-serif';

/* Heading */
@heading-font: 'serif';

/* font Face */
/*@typo-filename: 'typo';

@font-face {
	#font-face(@typo-filename);
}*/


/* Grosseur de titre */

.title-large {
	font-size: 6rem;
	line-height: 7.4rem;
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}

.title-medium {
	font-size: 4.2rem;
	line-height: 5.4rem;
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}

.title-xnormal {
	font-size: 2.4rem;
	line-height: 3.2rem;
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}

.title-normal {
	font-size: 2rem;
	line-height: 2.8rem;
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}

.title-small {
	font-size: 1.8rem;
	line-height: 2.4rem;
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}

.title-xsmall {
	font-size: 11px;
	line-height: 14px;
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}



/* Grosseur de text courant */
.text-medium {
	#font-size(1.6rem);
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}

.text-normal {
	#font-size(1.4rem);
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}
 
.text-small {
	#font-size(12px);
	
	#media-phone ({
		
	});
	
	#media-phone-retina ({
		
	});
}