
//====== COLORS ================
@true-white: 	#ffffff;
@true-black: 	#000000;
@true-red: 		#ff0000;

//====== SYMBOLIC ================
@white: 	@true-white;
@black: 	@true-black;
@red:		@true-red;

@light: 	@true-white;
@dark: 		@true-black;

//====== SOCIAL ================
@twitter: 	#55acee;
@facebook: 	#3B5998;
@instagram: #c6359b;
@linkedin: 	#0077B5;
@snapchat: 	#e5e200;