//=========================
// = VARIABLES FOR GRAPHICS
//=========================


@border-radius-smallest: 2px;
@border-radius-smaller: 3px;
@border-radius-small: 4px;
@border-radius-mid: 10px;
@border-radius-large: 4rem;
@border-radius-larger: 5rem;
@border-radius-largest: 10rem;

@border-radius-half: 50%;
@border-radius-full: 100%;