//====== Animation ============
@duration-shortest: 150ms;
@duration-shorter: 200ms;
@duration-short: 300ms;
@duration: 500ms;
@duration-long: 750ms;
@duration-longer: 1000ms;
@duration-longest: 1500ms;

@visanim: visibility 0ms linear;

/*
@ease: ease-in-out;
@ease-in: ease-in;
@ease-out: ease-out;
@ease-in-out: ease-in-out;
*/