
//====== FONTS ==== 

@font-base: 'sans-serif';
@font-alt: 'serif';
@font-accent: 'serif';


@type-astronomic: 200px;
@type-giant: 145px;

@type-tallest: 100px;
@type-taller: 80px;
@type-tall: 60px;

@type-average: 42px;

@type-short: 30px;
@type-shorter: 24px;
@type-very-short: 21px;
@type-shortest: 18px;

@type-miniature: 14px;
@type-dwarf: 11px;


@line-height-suffocate: 0.9em;
@line-height-perfect: 1em;
@line-height-tightest: 1.1em;
@line-height-tighter: 1.25em;
@line-height-tight: 1.4em;
@line-height-loose: 1.5em;
@line-height-looser: 1.65em;
@line-height-loosest: 1.8em;
@line-height-double: 2em;