
//====== COLORS ================
@true-white: 	#FFFFFF;
@true-black: 	#000000;
@true-red: 		#FF0000;
@true-green: 	#00FF00;
@true-blue: 	#0000FF;

//====== SYMBOLIC ================
@white: 	@true-white;
@black: 	@true-black;
@red:		@true-red;
@green:		@true-red;
@blue:		@true-red;

@light: 	@true-white;
@dark: 		@true-black;

//====== SOCIAL ================
@twitter: 	#55ACEE;
@facebook: 	#3B5998;
@instagram: #C6359b;
@linkedin: 	#0077B5;
@snapchat: 	#E5E200;