
//====== DURATION ============
@duration-fastest: 	150ms;
@duration-faster: 	200ms;
@duration-fast: 	300ms;
@duration-medium: 	500ms;
@duration-slow: 	750ms;
@duration-slower: 	1000ms;
@duration-slowest: 	1500ms;