
//=========================
// = VARIABLES SPACING
//=========================

@spacing-atto: 0.1px;
@spacing-femto: 0.2rem;
@spacing-pico: 0.4rem;
@spacing-nano: 0.5rem;
@spacing-micro: 0.7rem;

@spacing-xsmall: 1rem;

@spacing-smallest: 1.5rem;
@spacing-smaller: 2rem;
@spacing-small: 2.5rem;

@spacing-mid: 3rem;

@spacing-large: 4rem;
@spacing-larger: 5rem;
@spacing-largest: 6rem;

@spacing-xlarge: 10rem;

@spacing-huge: 20rem;
@spacing-mega: 30rem;
@spacing-giga: 40rem;

@spacing-tera: 60rem;
@spacing-peta: 80rem;
@spacing-zetta: 100rem;
@spacing-yotta: 120rem;