// BORDER-WIDTH
@border-slimmest: 	 1px;
@border-slimmer: 	 2px;
@border-slim: 		 3px;
@border-thick: 		 8px;
@border-thicker: 	10px;
@border-thickest: 	20px;
// BORDER-RADIUS
@radius-sharpest: 	 2px;
@radius-sharper: 	 3px;
@radius-sharp: 		 4px;
@radius-dull: 		10px;
@radius-duller: 	 4rem;
@radius-dullest: 	 5rem;