//====== SCREEN WIDTHS ============

@screen-ip: 320px;
@screen-ph: 600px;
@screen-xs: 768px;
@screen-sm: 1024px;
@screen-md: 1280px;
@screen-lg: 1440px;
@screen-xl: 1600px;
@screen-max: 1920px;

