
//====== DURATION ============

@duration-shortest:  150ms;
@duration-shorter: 	 200ms;
@duration-short: 	 300ms;
@duration: 			 500ms;
@duration-long: 	 750ms;
@duration-longer: 	1000ms;
@duration-longest: 	1500ms;
@duration-mega: 	2500ms;
@duration-huge: 	5000ms;