//=========================
// = VARIABLES FOR GRAPHICS
//=========================

/*
@border-width-smallest: 1px;
@border-width-smaller: 2px;
@border-width-small: 3px;
@border-width-mid: 4px;
@border-width-large: .6rem;
@border-width-larger: 0.8rem;
@border-width-largest: 1rem;
*/