
//=========================
// = VARIABLES SPACING
//=========================

@spacing-atto: 		 1px;
@spacing-femto: 	 0.2rem;
@spacing-pico: 		 0.4rem;
@spacing-nano: 		 0.5rem;
@spacing-micro: 	 0.7rem;
@spacing-xsmall: 	 1rem;
@spacing-smallest: 	 1.5rem;
@spacing-smaller: 	 2rem;
@spacing-small: 	 2.5rem;
@spacing-mid: 		 3rem;
@spacing-large: 	 4rem;
@spacing-larger: 	 5rem;
@spacing-largest: 	  6rem;
@spacing-xlarge: 	 10rem;
@spacing-huge: 		 20rem;
@spacing-mega: 		 30rem;
@spacing-giga: 		 40rem;
@spacing-tera: 		 60rem;
@spacing-peta: 		 80rem;
@spacing-zetta: 	100rem;
@spacing-yotta: 	120rem;

//============================
// = VARIABLES FOR DIMENSIONS
//============================
@dimension-skelettic: 	  1rem;
@dimension-tiniest: 	  2rem;
@dimension-very-tiny: 	  3.2rem;
@dimension-tinier: 		  4rem;
@dimension-tiny: 		  5rem;
@dimension-thinnest: 	  6rem;
@dimension-very-thin: 	  8rem;
@dimension-thinner: 	 14rem;
@dimension-thin: 		 20rem;
@dimension-standard: 	 24rem;
@dimension-wide: 		 30rem;
@dimension-wider: 		 36rem;
@dimension-very-wide: 	 48rem;
@dimension-widest: 		 56rem;
@dimension-fat: 		 64rem;
@dimension-fatter: 		 70rem;
@dimension-very-fat: 	 82rem;
@dimension-fattest: 	 96rem;
@dimension-obese: 		120rem;
@dimension-morbid: 		160rem;

// Screen sizes
@dimension-ip: @screen-ip;
@dimension-ph: @screen-ph;
@dimension-xs: @screen-xs;
@dimension-sm: @screen-sm;
@dimension-md: @screen-md;
@dimension-lg: @screen-lg;
@dimension-xl: @screen-xl;
@dimension-hd: @screen-hd;
@dimension-2k: @screen-2k;
@dimension-4k: @screen-4k;