// PATH
@workspace-path: '/workspace/';
@assets-path:    '@{workspace-path}assets/';
@css-path:       '@{assets-path}css/';
@svg-path:       '@{css-path}svg/';
@font-path:      '@{assets-path}fonts/';
@img-path:       '@{assets-path}img/';
@cur-path:       '@{assets-path}cur/';