
// ====== ease ============

@ease: @ease-in-out;

@ease-in: ease-in;
@ease-out: ease-out;
@ease-in-out: ease-in-out;

@ease-quart-in-out: cubic-bezier(0.77, 0, 0.175, 1);

@ease-quad-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
@ease-quad-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);

@ease-quint-out: cubic-bezier(0.23, 1, 0.32, 1);

@ease-circ-in-out: cubic-bezier(0.785, 0.135, 0.15, 0.86);
@ease-circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
@ease-circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);

@ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);

@ease-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);