
@transparent: 			0.0;
@almost-transparent: 	0.1;
@quasi-transparent: 	0.2;
@semi-transparent: 		0.3;
@partially-transparent: 0.4;
@translucent: 			0.5;
@partially-opaque: 		0.6;
@semi-opaque: 			0.7;
@quasi-opaque: 			0.8;
@almost-opaque: 		0.97;
@opaque: 				1.0;