// DIMENSIONS
@dimension-tiniest:   @spacing-thinnest * 4;
@dimension-tinier:    @spacing-thinner * 4;
@dimension-tiny:      @spacing-thin * 4;
@dimension-smallest:  @spacing-broad * 6;
@dimension-smaller:   @spacing-broader * 6;
@dimension-small:     @spacing-broadest * 6;
@dimension-big:       @spacing-large * 8;
@dimension-bigger:    @spacing-larger * 8;
@dimension-biggest:   @spacing-largest * 8;