/*******************************
 * @author DeuxHuitHuit
 *****************************/

//=========================
// = MIXINS
//=========================

.marpad (@width: 0) {
	padding: @width;
	margin: @width;
}

.wh (@width: 100%) {
	width: @width;
	height: @width;
}

.sq(@side) {
	width:@side;
	height:@side;
	display:block;
}

.absolute (@zindex: 10) {
	position:absolute;
	display:block;
	z-index: @zindex;
}

.relative (@zindex: 10) {
	position:relative;
	display:block;
	z-index: @zindex;
}

.fixed (@zindex: 10) {
	position:fixed;
	display:block;
	z-index: @zindex;
}

.fright {
	display:block;
	float:right;
}

.fleft {
	display:block;
	float:left;
}

.clear {
	clear:both;
}

.hand {
	cursor: pointer;
	cursor: hand;
}

.no-outline {
	outline:none;
	border:none;
	-moz-outline:none;
	-webkit-outline:none;
}

.bold {
	font-weight:bold;
}

.capital {
	text-transform: capitalize;
}

.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.center {
	text-align: center;
}

/*.ul {
	.marpad;
	list-style: none;
	list-style-type: none;
	
	li {
		.marpad;
		display:block;
	}
}*/

.opacity(@val) {
	
	@ms-val: @val * 100;
	zoom: 1;
	filter:~"alpha(opacity=@{ms-val})";
	
	opacity:@val;
	-moz-opacity:@val;
	-webkit-opacity:@val;
	-ms-opacity:@val;
	-k-opacity:@val;
	-o-opacity:@val;
}


// En attente d'un meilleur support de calc() de CSS3
.box-sizing ( @bs ) {
	-moz-box-sizing: @bs;
	     box-sizing: @bs;
}

.border-radius ( @br ) {
	-webkit-border-radius: @br;
	   -moz-border-radius: @br;
	        border-radius: @br;
}

.transition ( @t ) {
	-webkit-transition: @t;
	   -moz-transition: @t;
	    -ms-transition: @t;
	     -o-transition: @t;
	        transition: @t;
}

//=========================
// = VARIABLES GLOBALES
//=========================

@col: 10px;
@typo: #000;


//=========================
// = IMPORTATIONS
//=========================

// Importations LESS




//=========================
// = STYLES GÉNÉRAUX
//=========================

html, body {
	.marpad;
	.wh;
}


#site {
	position: relative;
	height:100%;
}

p, .p {
	margin: @col 0;
	padding: 0;
	font-size: 13px;
	color: @typo;
}

p:first {
	margin: 0 0 @col 0;
}

a {
	color: #7d7d7d;
	
	
	&:visited {
		
	}
	
	&:hover, &:active {
		color: darken(#7d7d7d, 30%);
	}
	
	&:focus {
		-moz-outline-style: none;
	}
	
	img {
		border:none;
	}
}

*, *:focus {
	.no-outline;
}

/*
 * HTML5
 */
section, nav, article, footer, header, menu {
	display:block;
	.marpad;
	position:static;
}

/* 
 * CSS 3
 */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}



//=========================
// = TEMPLATE GÉNÉRAL
//=========================


