/*******************************
 * @author DeuxHuitHuit
 *****************************/

//=========================
// = IMPORTS
//=========================
@import "core/bundle";
@import "lib/bundle";
@import "site/vars-overrides";

@ui-bg-main: @dark;
@ui-bg-items: fade(@light, 10%);
@ui-heading-color: @light;
@ui-groupe-title-color: @ui-bg-items;
@ui-font-family: Arial, helvetica, sans-serif;

#ui-toolkit {
	background-color: @ui-bg-main;
	
	.ui-toolkit-ctn {
		padding: 50px 100px;
	}
	
	.ui-item {
		margin: 15px 0;
		padding: 15px 5px;
		background-color: @ui-bg-items;
		
		.ui-item-title {
			font-family: @ui-font-family;
			margin: 0 0 10px 0;
			font-size: 1.8rem;
			line-height: 2.4rem;
			color: @ui-heading-color;
		}
		
		.ui-item-ctn {
			@import "main";
			
			ul li, ol li {
				list-style-position: inside;
			}
		}
	}

	.ui-group {
		#relative;
		margin-bottom: 120px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.ui-group-title {
		font-family: @ui-font-family;
		margin: 0 0 30px -20px;
		font-size: 6rem;
		line-height: 7.4rem;
		color: @ui-groupe-title-color;
	}
		
	.ui-palette-ctn {
		.ui-palette-couleurs {
			#ib;
			
			.ui-color-title {
				text-align: center;
				font-size: 12px;
				line-height: 14px;
				max-width: 165px;
				color: @ui-heading-color;
				font-family: @ui-font-family;
			}
			
			.ui-color-ctn {
				#relative;
				margin-bottom: 10px;
				
				.ui-color {
					#wh(165px);
					
					&.dark {
						.ui-palette-coloring(@dark);
					}
					
					&.light {
						.ui-palette-coloring(@light);
					}
					
					&.ui-darker {
						#absolute;
						#fill(auto, 0, 0, 0);
						height: 30%;
					}
				}
			}
		}
	}
}

.ui-palette-coloring(@color) {
	background-color: @color;
	
	&.ui-darker {
		background-color: darken(@color, 10%);
	}
}
