//=========================
// = VARIABLES GLOBALES
//=========================

//====== PATH ==================
@css-path: '/workspace/assets/css/';
@font-path: '/workspace/assets/fonts/';
@img-path: '/workspace/assets/img/';
@cur-path: '/workspace/assets/cur/';
@svg-path: '@{css-path}svg/';

//====== FONTS ==== 
@initial-font-size: 1.4rem;
@font-color: #000;
@link-color: #7d7d7d;
@link-color-visited: @link-color;


//====== SITE WIDTH ============
@col: 10px;
@site-large-width: 1440px;
@site-medium-width: 1280px;
@site-small-width: 1024px;

