//=========================
// = VARIABLES FOR SPACING
//=========================

@spacing-atto: 0.1rem;
@spacing-femto: 0.2rem;
@spacing-pico: 0.4rem;
@spacing-nano: 0.6rem;
@spacing-micro: 0.8rem;

@spacing-xsmall: 1rem;

@spacing-smallest: 1.4rem;
@spacing-smaller: 2rem;
@spacing-small: 2.4rem;

@spacing-mid: 3.2rem;

@spacing-large: 4rem;
@spacing-larger: 4.8rem;
@spacing-largest: 6rem;

@spacing-xlarge: 8rem;

@spacing-very-large: 9.6rem;

@spacing-huge: 12rem;
@spacing-mega: 18rem;
@spacing-giga: 24rem;

@spacing-tera: 32rem;
@spacing-peta: 40rem;
@spacing-zetta: 48rem;
@spacing-yotta: 62rem;

//============================
// = VARIABLES FOR DIMENSIONS
//============================
@dimension-skelettic: 1rem;

@dimension-tiniest: 2rem;
@dimension-very-tiny: 3.2rem;
@dimension-tinier: 4rem;
@dimension-tiny: 5rem;

@dimension-thinnest: 6rem;
@dimension-very-thin: 8rem;
@dimension-thinner: 14rem;
@dimension-thin: 20rem;

@dimension-standard: 24rem;

@dimension-wide: 30rem;
@dimension-wider: 36rem;
@dimension-very-wide: 48rem;
@dimension-widest: 56rem;

@dimension-fat: 64rem;
@dimension-fatter: 70rem;
@dimension-very-fat: 82rem;
@dimension-fattest: 96rem;

@dimension-obese: 120rem;
@dimension-morbid: 160rem;

// Screen sizes
@dimension-ip: @screen-ip;
@dimension-ph: @screen-ph;
@dimension-xs: @screen-xs;
@dimension-sm: @screen-sm;
@dimension-md: @screen-md;
@dimension-lg: @screen-lg;
@dimension-xl: @screen-xl;
@dimension-hd: @screen-hd;
@dimension-2k: @screen-2k;
@dimension-4k: @screen-4k;


@border-slimest: 1px;
@border-slimer: 2px;
@border-slim: 3px;
@border-average: 5px;
@border-thick: 8px;
@border-thicker: 10px;
@border-thickest: 20px;
