/*******************************
 * @author DeuxHuitHuit
 * 
 * DEV utils
 * imported by browser.less
 *
 *****************************/
.TODO {
	outline: rgba(255,0,0,36%) 1px solid;
	outline-offset: 8px;
}
.show-classes-on-hover {
	*[class]:hover:before {
		content: attr(class);
		white-space: nowrap;
		padding: @spacing-thinner * 0.25 @spacing-thinner * 0.5;
		background-color: red;
		color: white;
		line-height: @spacing-thinner * .5;
		font-size: 8px;
		font-weight: 600;
		font-family: helvetica, arial, sans-serif;
		display: block;
		position: absolute;
		left: auto;
		top: auto;
		margin-top: -@spacing-thinner;
		margin-bottom: @spacing-thinner * .25;
		text-transform: uppercase;
		letter-spacing: .025em;
		pointer-events: none;
		z-index: 1;
	}
	
	*:not(body)[class] *[class]:hover:before {
		//margin-top: 0;
		background-color: fuchsia;
		padding-left: @spacing-thinner * .5;
	}

	*:not(body)[class] *[class] *[class]:hover:before {
		background-color: purple;
		padding-left: @spacing-thinner;
	}
	
	*:not(body)[class] *[class] *[class] *[class]:hover:before {
		background-color: teal;
		padding-left: @spacing-thinner * 1.5;
	}
	
	*[class]:hover {
		outline: 1px dashed red;
	}

	*:not(body)[class] *[class]:hover {
		outline: 1px dashed fuchsia;
	}

	*:not(body)[class] *[class] *[class]:hover {
		outline: 1px dashed purple;
	}
	
	*:not(body)[class] *[class] *[class] *[class]:hover {
		outline: 1px dashed teal;
	}
}
.show-names-on-hover {
	*[dev-component]:hover:before,
	*[dev-element]:hover:before {
		content: attr(dev-component);
		white-space: nowrap;
		padding: @spacing-thinner * .25 @spacing-thinner * .5;
		background-color: red;
		color: white;
		line-height: @spacing-thinner * .5;
		font-size: 10px;
		font-weight: 600;
		font-family: helvetica, arial, sans-serif;
		display: block;
		position: absolute;
		left: auto;
		top: auto;
		margin-top: -@spacing-thinner;
		margin-bottom: @spacing-thinner * .25;
		text-transform: uppercase;
		letter-spacing: .025em;
		pointer-events: none;
		z-index: 1;
	}
	*[dev-element]:hover:before {
		margin-top: 0;
		content: attr(dev-element);
		background-color: grey !important;
	}
	
	*:not(body)[dev-component] *[dev-component]:hover:before,
	*:not(body)[dev-component] *[dev-element]:hover:before {
		//margin-top: 0;
		background-color: fuchsia;
		padding-left: @spacing-thinner * .5;
	}

	*:not(body)[dev-component] *[dev-component] *[dev-component]:hover:before,
	*:not(body)[dev-component] *[dev-component] *[dev-element]:hover:before {
		background-color: purple;
		padding-left: @spacing-thinner;
	}
	
	*:not(body)[dev-component] *[dev-component] *[dev-component] *[dev-component]:hover:before,
	*:not(body)[dev-component] *[dev-component] *[dev-component] *[dev-element]:hover:before {
		background-color: teal;
		padding-left: @spacing-thinner * 1.5;
	}
	
	*[dev-component]:hover,
	*[dev-element]:hover {
		outline: 1px dashed red;
	}

	*:not(body)[dev-component] *[dev-component]:hover,
	*:not(body)[dev-component] *[dev-element]:hover {
		outline: 1px dashed fuchsia;
	}

	*:not(body)[dev-component] *[dev-component] *[dev-component]:hover,
	*:not(body)[dev-component] *[dev-component] *[dev-element]:hover {
		outline: 1px dashed purple;
	}
	
	*:not(body)[dev-component] *[dev-component] *[dev-component] *[dev-component]:hover,
	*:not(body)[dev-component] *[dev-component] *[dev-component] *[dev-element]:hover {
		outline: 1px dashed teal;
	}
}
.show-classes {
	*[class]:after {
		content: attr(class);
		white-space: nowrap;
		padding: @spacing-thinner * .25 @spacing-thinner * .5;
		background-color: red;
		color: white;
		line-height: @spacing-thinner * .5;
		font-size: 8px;
		font-weight: 600;
		font-family: helvetica, arial, sans-serif;
		display: block;
		position: absolute;
		left: auto;
		top: auto;
		margin-top: -@spacing-thinner;
		margin-bottom: @spacing-thinner * .25;
		text-transform: uppercase;
		letter-spacing: .025em;
		pointer-events: none;
		z-index: 1;
		&:hover {
			z-index: 2;
		}
	}
	
	*:not(body)[class] *[class]:hover:after {
		//margin-top: 0;
		background-color: fuchsia;
		padding-left: @spacing-thinner * .5;
	}

	*:not(body)[class] *[class] *[class]:hover:after {
		background-color: purple;
		padding-left: @spacing-thinner;
	}
	
	*:not(body)[class] *[class] *[class] *[class]:hover:after {
		background-color: teal;
		padding-left: @spacing-thinner * 1.5;
	}
	
	*[class]:hover {
		outline: 1px dashed red;
	}

	*:not(body)[class] *[class]:hover {
		outline: 1px dashed fuchsia;
	}

	*:not(body)[class] *[class] *[class]:hover {
		outline: 1px dashed purple;
	}
	
	*:not(body)[class] *[class] *[class] *[class]:hover {
		outline: 1px dashed teal;
	}
}

.show-classes-on-active {
	*[class]:active:after {
		content: attr(class);
		white-space: nowrap;
		padding: @spacing-thinner * .25 @spacing-thinner * .5;
		background-color: red;
		color: white;
		line-height: @spacing-thinner * .5;
		font-size: 10px;
		font-weight: 600;
		font-family: helvetica, arial, sans-serif;
		display: block;
		position: absolute;
		left: auto;
		top: auto;
		margin-top: -@spacing-thinner;
		margin-bottom: @spacing-thinner * .25;
		letter-spacing: .0325em;
		pointer-events: none;
		z-index: 1;
	}

	*[class][dev-element]:active:after {
		margin-top: 0;
	}
	
	*:not(body)[class] *[class]:active:after {
		//margin-top: 0;
		background-color: fuchsia;
		padding-left: @spacing-thinner * .5;
	}

	*:not(body)[class] *[class] *[class]:active:after {
		background-color: purple;
		padding-left: @spacing-thinner;
	}
	
	*:not(body)[class] *[class] *[class] *[class]:active:after {
		background-color: teal;
		padding-left: @spacing-thinner * 1.5;
	}
	
	*[class]:active {
		outline: 1px dashed red;
	}

	*:not(body)[class] *[class]:active {
		outline: 1px dashed fuchsia;
	}

	*:not(body)[class] *[class] *[class]:active {
		outline: 1px dashed purple;
	}
	
	*:not(body)[class] *[class] *[class] *[class]:active {
		outline: 1px dashed teal;
	}
}

.show-names {
	*[dev-component]:before {
		content: attr(dev-component);
		white-space: nowrap;
		padding: @spacing-thinner * .25 @spacing-thinner * .5;
		background-color: red;
		color: white;
		line-height: @spacing-thinner * .5;
		font-size: 8px;
		font-weight: 600;
		font-family: helvetica, arial, sans-serif;
		display: block;
		position: absolute;
		left: auto;
		top: auto;
		margin-top: -@spacing-thinner;
		margin-bottom: @spacing-thinner * .25;
		text-transform: uppercase;
		letter-spacing: .025em;
		pointer-events: none;
		z-index: 1;
		&:hover {
			z-index: 2;
		}
	}
	
	*:not(body)[dev-component] *[dev-component]:before {
		//margin-top: 0;
		background-color: fuchsia;
		padding-left: @spacing-thinner * .5;
	}

	*:not(body)[dev-component] *[dev-component] *[dev-component]:before {
		background-color: purple;
		padding-left: @spacing-thinner;
	}
	
	*:not(body)[dev-component] *[dev-component] *[dev-component] *[dev-component]:before {
		background-color: teal;
		padding-left: @spacing-thinner * 1.5;
	}
	
	
	*[dev-component]:hover {
		outline: 1px dashed red;
	}

	*:not(body)[dev-component] *[dev-component]:hover {
		outline: 1px dashed fuchsia;
	}

	*:not(body)[dev-component] *[dev-component] *[dev-component]:hover {
		outline: 1px dashed purple;
	}
	
	*:not(body)[dev-component] *[dev-component] *[dev-component] *[dev-component]:hover {
		outline: 1px dashed teal;
	}
}

.show-ga {
	[data-ga-cat] {
		outline: 3px solid red !important;
		&:not(.absolute):not(.fixed):not(.static) {
			position: relative;
		}
		&:after {
			content: attr(data-ga-cat) " " attr(data-ga-action);
			position: absolute;
			right: -10px;
			left: -10px;
			top: -18px;
			font-size: 10px !important;
			line-height: 12px !important;
			text-transform: none;
			color: red;
			z-index: 99999999;
			background-color: fade(@true-white, 30%);
			white-space: nowrap;
			overflow: visible;
			pointer-events: none;
		}
	}
}

.show-js-classes {
	*[class^='js-'], *[class*=' js-'] {
		&:after {
			content: attr(data-js-class);
			white-space: nowrap;
			padding: @spacing-thinner * .25 @spacing-thinner * .5;
			background-color: red;
			color: white;
			line-height: @spacing-thinner * .5;
			font-size: 8px;
			font-weight: 600;
			font-family: helvetica, arial, sans-serif;
			display: block;
			position: absolute;
			left: auto;
			top: auto;
			margin-top: -@spacing-thinner;
			margin-bottom: @spacing-thinner * .25;
			text-transform: uppercase;
			letter-spacing: .025em;
			pointer-events: none;
			z-index: 1;
			&:hover {
				z-index: 2;
			}
		}
	}
}

.show-dom {
	*[data-dom-class] {
		outline: 1px dashed green;
		&:after {
			content: attr(data-dom-class);
			white-space: nowrap;
			padding: @spacing-thinner * .25 @spacing-thinner * .5;
			background-color: green;
			color: white;
			line-height: @spacing-thinner * .5;
			font-size: 8px;
			font-weight: 600;
			font-family: helvetica, arial, sans-serif;
			display: block;
			position: absolute;
			left: auto;
			top: auto;
			margin-top: -@spacing-thinner;
			margin-bottom: @spacing-thinner * .25;
			text-transform: uppercase;
			letter-spacing: .025em;
			pointer-events: none;
			z-index: 1;
			&:hover {
				z-index: 2;
			}
		}
	}
}

.debug {
	* { outline: 2px dotted red }
	* * { outline: 2px dotted green }
	* * * { outline: 2px dotted orange }
	* * * * { outline: 2px dotted blue }
	* * * * * { outline: 1px solid red }
	* * * * * * { outline: 1px solid green }
	* * * * * * * { outline: 1px solid orange }
	* * * * * * * * { outline: 1px solid blue }
}

#site:before {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 1rem;
	display: block;
	z-index: 1100;
	
	#mq-min-width(@screen-ip, {
		background-color: red;
	});
	#mq-min-width(@screen-ph, {
		background-color: purple;
	});
	#mq-min-width(@screen-xs, {
		background-color: green;
	});
	#mq-min-width(@screen-sm, {
		background-color: orange;
	});
	#mq-min-width(@screen-md, {
		background-color: aqua;
	});
	#mq-min-width(@screen-lg, {
		background-color: brown;
	});
	#mq-min-width(@screen-xl, {
		background-color: blue;
	});
}

#site:after {
	bottom: 0;
	right: 2rem;
	position: fixed;
	background-color: white;
	text-align: center;
	font-size: 10px;
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	z-index: 1100;
	color: white;

	#mq-min-width(@screen-ip, {
		content: 'iPhone portrait : @{screen-ip}';
		background-color: red;
	});
	#mq-min-width(@screen-ph, {
		content: 'iPhone paysgae : @{screen-ph}';
		background-color: purple;
	});
	#mq-min-width(@screen-xs, {
		content: 'iPad portrait : @{screen-xs}';
		background-color: green;
	});
	#mq-min-width(@screen-sm, {
		content: 'iPad paysage : @{screen-sm}';
		background-color: orange;
	});
	#mq-min-width(@screen-md, {
		content: 'md : @{screen-md}';
		background-color: aqua;
	});
	#mq-min-width(@screen-lg, {
		content: 'lg : @{screen-lg}';
		background-color: brown;
	});
	#mq-min-width(@screen-xl, {
		content: 'xl : @{screen-xl}';
		background-color: blue;
	});
}