// = TEXT-TRANSFORM CLASS
.text-transform-none {
	text-transform: none;
}
.text-transform-capitalize, .text-capital, .text-capitalize {
	text-transform: capitalize;
}
.text-transform-lower, .text-lower, .text-lowercase {
	text-transform: lowercase;
}
.text-transform-upper, .text-upper, .upper, .text-uppercase {
	text-transform: uppercase;
}
