/*******************************
* @author DeuxHuitHuit
*****************************/

.site-base-color {

	#selection-color({
		background-color: @site-selection-bg-color;
		color: @site-selection-color;
	});
}

hr {
	border: 0;
	height: 0;
	margin: 0;
	padding: 0;
	background: none;
	display: block;
}

h1, h2, h3, h4, h5, h6,  {
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size: inherit;
	color: inherit;
	margin-top: 0;
	margin-bottom: 0;
	text-rendering: optimizeLegibility;
}

p, .p, li, a, blockquote, button {
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	font-size: inherit;
}

blockquote {
	padding: 0;
	margin: 0;
}

p, ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

sup {
	line-height: 0;
	font-size: 0.45em;
}

textarea, input, select {
	margin: 0;
	padding: 0;
	font-family: @font-base;
}
