/*******************************
* @author DeuxHuitHuit
*****************************/

*::-moz-selection {
	
}

*::selection {
	
}

hr {
	border: 0;
	height: 0;
	background: none;
	margin: 0;
	display: block;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: inherit;
	color: inherit;
	text-rendering: optimizeLegibility;
	font-weight: inherit;
	margin-top: 0;
	margin-bottom: @spacing-smaller;
	
	&:last-child {
		margin-bottom: 0;
	}
}

p, .p, li, a, blockquote, button {
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	font-size: inherit;
}

blockquote {
	padding: 0;
	margin: 0;
}

p, ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

sup {
	line-height: 0;
}

textarea {
	-webkit-appearance: none;
}