/*******************************
 * @author DeuxHuitHuit
 *****************************/

html {
	min-height: 100%;
	height: 100%;
	overflow: visible;

	body {
		-webkit-font-feature-settings: "hist";
		min-height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		
		#selection-color({
			background-color: @site-selection-bg-color;
			color: @site-selection-color;
		});
	}
	
	&.no-scroll {
		overflow: hidden;
		
		body {
			overflow-y: hidden;
		}
	}
	
	&.block-scroll {
		height: 100%;
		
		body {
			height: 100%;
		}
		
		#site {
			height: 100%;
			overflow: hidden;
		}
	}
}

#site {
	position: relative;
}