/*******************************
 * @author DeuxHuitHuit
 *****************************/

//=========================
// = HTML + BODY + #site + #site-pages
//=========================

html {
	overflow: visible;
	
	&.no-scroll {
		overflow: hidden;
	}
	
	&.block-scroll {
		height: 100%;
		
		body {
			height: 100%;
		}
		
		#site {
			height: 100%;
			overflow: hidden;
		}
	}
}

html, body {
	min-height: 100%;
	background-color: @bg-color;
}

body {
	font-size: 1.6rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

#site {
	position: relative;
	margin: 0 auto;
}

#site-pages {
	.page {
		#relative(10);
	}
}

#bg-transition {
	#fixed(999990);
	#fill;
	display: none;
	background-color: @bg-color;
}
