/*******************************
 * @author DeuxHuitHuit
 *****************************/

//=========================
// = CURSOR CLASSES
//=========================

.cursor-auto {
	cursor: auto;
}

.cursor-hand {
	cursor: pointer;
	cursor: hand;
}

.cursor-drag {
	cursor: move;
}

.cursor-loading {
	cursor: wait;
}