//=========================
// = LAYOUT CLASS
//=========================



/****************** POSITION *********/
.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.relative {
	position: relative;
}


/****************** DISPLAY *********/
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}


/****************** FLEXBOX *********/

.flexbox {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flexbox-inline {
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.flex-center {
	#flex-justify-content(center);
	#flex-align-items(center);
}

.flex-stretch {
	#flex-align-items(stretch);
}

.flex-align-items-start {
	#flex-align-items(flex-start);
}

.flex-align-items-center {
	#flex-align-items(center);
}

.flex-align-items-end {
	#flex-align-items(flex-end);
}

.flex-align-items-baseline {
	#flex-align-items(baseline);
}

.flex-justify-start {
	#flex-justify-content(flex-start);
}

.flex-justify-center {
	#flex-justify-content(center);
}

.flex-justify-end {
	#flex-justify-content(flex-end);
}

.flex-justify-space-between {
	#flex-justify-content(space-between);
}

.flex-justify-space-around {
	#flex-justify-content(space-around);
}

.flex-grow-2 {
	#flex-grow(2);
}

.flex-order-1 {
	#flex-order(1);
}

.flex-order-2 {
	#flex-order(2);
}

.flex-row {
	#flex-direction(row);
}

.flex-column {
	#flex-direction(column);
}

.flex-wrap {
	#flex-wrap(wrap);
}

.flex-nowrap {
	#flex-wrap(nowrap);
}

.flex-flow-row-wrap {
	#flex-direction(row);
	#flex-wrap(wrap);
}

.flex-flow-row-nowrap {
	#flex-direction(row);
	#flex-wrap(nowrap);
}

.flex-flow-column-wrap {
	#flex-direction(column);
	#flex-wrap(wrap);
}

.flex-flow-column-nowrap {
	#flex-direction(column);
	#flex-wrap(nowrap);
}

.flex-flow-column-to-desktop-row-wrap {
	.flex-flow-column-wrap;
	
	#mq-min-width(@screen-xs, {
		.flex-flow-row-wrap;
	});
}

.flex-flow-column-to-desktop-row-nowrap {
	.flex-flow-column-nowrap;
	
	#mq-min-width(@screen-xs, {
		.flex-flow-row-nowrap;
	});
}

/****************** SIZE *********/
.fill {
	#fill();
}

.top {
	top: 0;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.bottom {
	bottom: 0;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 100%;
	
	#mq-min-width(@screen-ph, {
		width: 50%;
	});
}

.half-min-width {
	min-width: 50%;
}

.full-height {
	height: 100%;
}

.half-height {
	height: 50%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

/* ********************* MARGIN *******/

.margin-auto {
	margin: auto;
}

.margin-auto-h {
	margin-left: auto;
	margin-right: auto;
}

/* ********************* VERTICAL ALIGN *******/
.valign-top {
	vertical-align: top;
}

.valign-bottom {
	vertical-align: bottom;
}

.valign-middle {
	vertical-align: middle;
}


.border-box {
	#box-sizing();
}

/* ********************* VERTICAL ALIGN *******/
.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

.overflow-y-scroll {
	overflow-y: scroll;
}
