/*******************************
 * @author DeuxHuitHuit
 *****************************/

//=========================
// = SITE WIDE SETTINGS
//=========================

html {
	overflow: visible;
	
	&.no-scroll {
		overflow: hidden;
	}
	
	&.block-scroll {
		height: 100%;
		
		body {
			height: 100%;
		}
		
		#site {
			height: 100%;
			overflow: hidden;
		}
	}
}

html, body {
	min-height: 100%;
	background-color: @bg-color;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

#site {
	position: relative;
	margin: 0 auto;
}

#site-pages {
	.page {
		#relative(10);
	}
}

.site-centerer {
	width: 100%;
	max-width: @site-max-width;
	margin: 0 auto;
	padding-left: @site-padding-mobile;
	padding-right: @site-padding-mobile;
	#box-sizing;
	
	#mq-min-width(@screen-ph, {
		padding-left: @site-padding;
		padding-right: @site-padding;
	});
}

/* font Face */
/*@typo-filename: 'typo';

@font-face {
	#font-face(@typo-filename);
}*/


// default grids (order IS important: must be ASC)
/*#generate-grid(1);
#generate-grid(2);
#generate-grid(@nb-cols / 2);
#generate-grid(@nb-cols - 4);
#generate-grid(@nb-cols);*/
