//=========================
// = UTILITIES FOR COLORS
//=========================

//====== CONTENT COLORS ============

.color-red {
	color: @red;
}

.color-yellow {
	color: @yellow;
}

.color-purple {
	color: @purple;
}

.color-green {
	color: @green;
}

.color-black {
	color: @black;
}

.color-grey {
	color: @grey;
}

.color-white {
	color: @white;
}

.border-color-red {
	border-color: @red;
}

.border-color-yellow {
	border-color: @yellow;
}

.border-color-purple {
	border-color: @purple;
}

.border-color-green {
	border-color: @green;
}

.border-color-black {
	border-color: @black;
}

.border-color-grey {
	border-color: @grey;
}

.border-color-white {
	border-color: @white;
}

//====== SVG FILL COLORS ============

.fill-red {
	fill: @red;
}

.fill-yellow {
	fill: @yellow;
}

.fill-purple {
	fill: @purple;
}

.fill-green {
	fill: @green;
}

.fill-black {
	fill: @black;
}

.fill-grey {
	fill: @grey;
}

.fill-white {
	fill: @white;
}

//====== SVG STROKE COLORS ============

.stroke-red {
	stroke: @red;
}

.stroke-yellow {
	stroke: @yellow;
}

.stroke-purple {
	stroke: @purple;
}

.stroke-green {
	stroke: @green;
}

.stroke-black {
	stroke: @black;
}

.stroke-grey {
	stroke: @grey;
}

.stroke-white {
	stroke: @white;
}

//====== BACKGROUND COLORS ============

.bg-color-red {
	background-color: @red;
}

.bg-color-yellow {
	background-color: @yellow;
}

.bg-color-purple {
	background-color: @purple;
}

.bg-color-green {
	background-color: @green;
}

.bg-color-black {
	background-color: @black;
}

.bg-color-grey {
	background-color: @grey;
}

.bg-color-white {
	background-color: @white;
}

.bg-color-blue {
	background-color: @blue;
}