/*******************************
 * @author DeuxHuitHuit
 *****************************/
.keyboard-nav {
	*:focus {
		outline: 1px dotted #212121 !important;
		outline: 5px auto -webkit-focus-ring-color !important;
		&.visually-hidden {
			clip: auto;
			width: auto !important;
			height: auto !important;
			padding: 2px !important;
			overflow: visible;
			z-index: 1;
		}
	}
}
