//=========================
// = SITE COLORS
//=========================
@yellow: #FFAF4B;
@purple: #5220E5;
@red: #C24141; 
@green: #50B693;
@black: #121212;
@grey: #A0A0A0;
@white: #FFFFFF;
@blue: #133263;

@color-current: @black;
@color-alt: @white;
@color-accent: @black;

@bg-color: @color-alt;
@bdr-color: @color-current;
@text-color: @color-current;

