//=========================
// = VARIABLES FOR TYPE
//=========================


// @import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);

/*@font-face {
	#font-face ('Apercu', 'apercu_regular-webfont');
}

@font-face {
	#font-face ('Apercu Bold', 'apercu_bold-webfont', 'bold');
}

@font-face {
	#font-face ('Apercu Italic', 'apercu_italic-webfont', 'regular', 'italic');
}*/


// @font-base: 'Apercu', 'Helvetica', 'Arial', 'Verdana', sans-serif;
// @font-alt: 'Poppins', 'Helvetica', 'Arial', 'Verdana', sans-serif;
// @font-accent: @font-current;


@type-astronomic: 12rem;
@type-giant: 10rem;
@type-tallest: 7.2rem;
@type-taller: 6rem;
@type-tall: 4.8rem;
@type-average: 4rem;
@type-short: 3.2rem;
@type-shorter: 2.8rem;

@type-very-short: 2.2rem;

@type-shortest: 1.6rem;
@type-miniature: 1.2rem;
@type-dwarf: 1rem;

@line-height-suffocate: 0.9em;
@line-height-perfect: 1em;
@line-height-tightest: 1.1em;
@line-height-tighter: 1.25em;
@line-height-tight: 1.4em;
@line-height-loose: 1.5em;
@line-height-looser: 1.65em;
@line-height-loosest: 1.8em;
@line-height-double: 2em;