//=========================
// = VARIABLES FOR TYPE
//=========================

@font-current: 'Helvetica', 'Arial', 'Verdana', sans-serif;
@font-alt: 'Helvetica', 'Arial', 'Verdana', sans-serif;

@text-current: @font-current;
@text-alt: @font-alt;