//=========================
// = VARIABLES FOR SPACING
//=========================

@site-max-width: 1600px;


@spacing-micro: .5rem;
@spacing-smallest: 1rem;
@spacing-smaller: 2rem;
@spacing-small: 4rem;
@spacing-mid: 6rem;
@spacing-large: 9rem;
@spacing-larger: 12rem;
@spacing-largest: 15rem;
@spacing-huge: 20rem;
