@easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
@easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
@easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
@easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
@easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
@easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
@easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
@easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);